/* ==UserStyle==
@name           Delete "Address" and "Name" from Amazon.co.jp
@namespace      tomacheese.com
@version        1.0.2
@updateURL      https://gist.github.com/book000/37d74006dbffc88f69cd87a8c686518b/raw/amazon.co.jp-stylus.user.css
@description    Chrome/Firefoxの拡張機能であるStylusを使用して、Amazon上に表示される「住所情報」と「登録名情報」を表示させないCSS
@author         Tomachi (book000)
==/UserStyle== */
@-moz-document domain("amazon.co.jp") {
    #nav-global-location-slot {
        display: none !important; /* 上部ナビゲーションバーの住所情報 */
    }
    #nav-link-accountList .nav-line-1-container .nav-line-1 {
        display: none !important; /* 上部ナビゲーションバーの登録名情報 */
    }
    .hud-profile-greeting h2.a-spacing-none {
        display: none !important; /* トップページの「ようこそ」に表示される登録名情報 */
    }
    #glowContextualIngressPt_feature_div {
        display: none !important; /* 商品ページにおけるお届け先の住所情報 */
    }
    #ordersContainer .recipient {
        display: none !important; /* 注文履歴におけるお届け先の住所情報 */
    }
    #contextualIngressPtLabel_deliveryShortLine {
        display: none !important; /* 出品者販売の場合の商品ページにおけるお届け先の住所情報 */
    }
}
